body {
  font-family: Helvetica, sans-serif;
  background-color: lightblue
  }

  #imageContainer {
    justify-content: space-around;
    flex-direction: row;
    background-color: red;
    width: 75%;

}

img {
  width: 400px;
  height: 400px;
  display: inline;
}
