body {
  font-family: Helvetica, sans-serif;
  background-color: lightblue
  }

  #imageContainer {
    justify-content: space-around;
    flex-direction: row;
}

img {
  width: 400px;
  height: 400px;
  margin: 1.5%
  display:inline;
}

/*.two {
  width: 400px;
  height: 400px;
}
.three {
  width: 400px;
  height: 400px;
}*/
